<% if @users.empty? %>
    Keine User gefunden
<% else %>

<table xmlns="http://www.w3.org/1999/html">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Birthday</th>
    <th>Numlogin</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.birthday %></td>
        <td><%= user.numlogin %></td>
        <td><%= link_to 'Show', user %>&nbsp;<%= link_to 'Edit', edit_user_path(user) %>&nbsp;<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% end %>